.body-home {
  background-color: #f0f2f5; /* Gris clair pour le fond */
position: relative;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 100px;
}

.card {
  width: 25vw;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  height: 75vh;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.card-content {
  height: 150px;
  background-color: #e0e0e0; /* Gris clair pour le contenu placeholder */
  border-radius: 4px;
}

.route-page{
  position: absolute;
  top: 10px;
  left: 0;
  /* width: 2rem; */
  font-size: 2rem;
  color: #F5F5F5; 
}
.main-content{
  height: 100vh;
  position: relative;
  margin-left: 18rem;
}
